.container {
  background-color: azure;
  height: 100vh;

}


.title {
  padding: 50px
  
}

/* .gridContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; 

} */

/* .headerWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column; 
  align-items: center;


} */