.title {
  padding-top: 10px; 
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownsContainer {
  display: flex;
  justify-content: center;

}

.paginateContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}