/* .container {
  background-color: azure;
  height: 100vh;

} */

.title {
  padding: 20px 0 5px 0 
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownsContainer {
  display: flex;
  justify-content: center;
  margin: auto 20px;
}